<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="432dcb59-c557-489e-8fed-1815e56c3c79" name="Project 10 TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="432dcb59-c557-489e-8fed-1815e56c3c79fileName">Project-10-TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
